@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #f7f5f7;
}

.app {
  width: 90%;
  max-width: 43rem;
  padding: 1rem;
  margin: 3rem auto;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}
